body {
  padding: 0;
  margin: 0;
  background: #191765;
  font-family: 'Inter', sans-serif;
  color: #f5f5ff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin-top: 10%;
}

.logo {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.main {
  text-align: center;
  padding: 20px;
  background-image: url(images/Ellipse18.svg);
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-position-y: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  color: #7d73fc;
  padding: 60px 0 0 50px;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: #edecff;
  text-align: center;
  padding: 30px 0 0 40px;
  margin: 0;
}

.main p {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 50px 20px;
}

.technologies {
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(images/Ellipse19left.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: top;
}

h3 {
  color: #9490ff;
  font-size: 12px;
  line-height: 24px;
}

.technologies ul {
  list-style: none;
}

.item {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  border-right: 1px solid #555;
  color: #fff;
}

.Ruby {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

.technologies ul li {
  font-size: 15px;
  line-height: 24px;
}

.icons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 50px 30px;
}

.recent-work {
  padding: 0 24px;
}

.recent-work h1 {
  text-align: left;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  padding-left: 0;
  padding-bottom: 30px;
}

.hr1 hr {
  border: 1px solid #646369;
  margin: 0 24px;
}

.hr hr {
  border: 1px solid #646369;
  height: 0;
}

.work {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.work h2 {
  font-size: 30px;
  color: #a2a3ae;
  padding: 0 10px;
}

#work {
  display: grid;
  padding: 0;
}

.background1 {
  padding: 50px 24px;
  background-image: url(images/Ellipse1.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.stories img,
.stories1 img {
  width: 100%;
}

.holder p {
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  padding: 20px 0;
  color: #dcdce8;
  font-weight: 400;
}

.holder h2 {
  padding-left: 0;
  font-size: 32px;
  text-align: left;
}

.list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

.btn {
  width: 89px;
  height: 48px;
  background: #7d73fc;
  font-size: 12px;
  color: #edecff;
  border: none;
}

.background2 {
  padding: 50px 24px;
  background-image: url(images/Ellipse2.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.background3 {
  padding: 50px 24px;
  background-image: url(images/Ellipse3.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.background4 {
  padding: 50px 24px;
  background-image: url(images/Ellipse4.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.contact {
  padding: 24px;
}

.contact h1 {
  font-size: 32px;
  text-align: center;
  padding-left: 0;
}

.contact p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 48px;
  width: 100%;
  margin: 12px 0;
}

#message {
  width: 100%;
  height: 148px;
  margin: 12px 0;
}

#btn {
  margin: 30px 0;
}

.email-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line hr {
  border: 1px solid #3a3837;
}

.icon {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 10px;
  list-style: none;
  width: 50%;
  margin: 0;
}

.email {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 40px;
}

.btn:hover {
  background: #7d73fc;
}

.btn:active {
  background: #5e42d7;
}

.btn:disabled {
  background: #2a2b33;
  cursor: not-allowed;
}
